#container {
  width: 250px;
  height: 250px;
  padding: 0px;
  background: #bbb;
  position: relative;
  cursor: default;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.8);
  transform-origin: 50% 50%;
}

#inner:hover {
  cursor: none; }

#inner {
  width: 100%;
  height: 100%;
  background: url("/img/backdrop.jpg") no-repeat;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#shadow {
  width: 100%;
  height: 100%;
  background: url("/img/shadow.png") no-repeat;
  z-index: 15;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#face_cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 50%;
  overflow: hidden;
}

#face_cont.flip {
  transform: scale(-1); }

#face_inner {
  position: absolute;
  top: 0;
  left: -16px;
  transition: all 100ms ease-in; }

#inner:hover #face_inner {
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
}

#face {
  position: relative;
  left: -39px; }

#mouth {
  position: absolute;
  left: 123px;
  top: 101px;
  transform-origin: 0 0;
  transition: all 200ms ease-in-out; }

.shake #face_inner {
  -webkit-animation: shake 200ms infinite;
  animation: shake 200ms infinite;
}

#inner:hover #mouth {
  -webkit-animation: eat 200ms ease-in-out;
  animation: eat 200ms ease-in-out;
}

@keyframes eat {
  0% {
    transform: rotateZ(0deg); }

  50% {
    transform: rotateZ(25deg); }

  100% {
    transform: rotateZ(0deg); } }

@-webkit-keyframes eat {
  0% {
    transform: rotateZ(0deg); }

  50% {
    transform: rotateZ(25deg); }

  100% {
    transform: rotateZ(0deg); } }

@-webkit-keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }